<body class="hold-transition skin-blue sidebar-collapse sidebar-mini">
  <div class="wrapper">
      <app-header></app-header>
   <!-- Content Wrapper. Contains page content -->
   <div class="content-wrapper"> 
          <section class="content">
             <div class="container-fluid" id="page-body">
                  <div class="col-lg-12" id="main-content">
                          <div class="box">
                              <div class="box-header"></div>
                              <section class="content-header">
                                      <h1>
                                            Customize Test
                                          <small></small>
                                      </h1>
                                      <ol class="breadcrumb">
                                          <li>
                                              <a href="#">
                                                  <i class="fa fa-dashboard"></i> Level</a>
                                          </li>
                                          <li class="active">practicetest</li>
                                      </ol>
                                  </section>
                                  <hr>
<!-- Main content -->
<section class="container-fluid">

  <div class="row">
      <div class="col-md-offset-4 col-md-4">
          <ul class="nav nav-pills" style="width: 183px;border: 2px solid #3478ad; border-radius: 5px;">
              <li class="active"><a data-toggle="pill" href="#home"><i class="fa fa-pencil-square-o" style="color: #fff"></i>Math</a></li>
              <li><a data-toggle="pill" href="#menu1"><i class="fa fa-gavel" style="color: #fff"></i>Verbal</a></li>
          </ul>
      </div>
      <div class="col-md-8">
          <div class="tab-content">
              <div id="home" class="tab-pane fade in active desc">
                  <div class="row">
                      <div class="col-md-6">
                          <h3>Select Question Type</h3>
                          <div class="mainParent" id="parent-4">
                                <div class="checkbox i-checks" id="example-0">
                                 <div class="tree_v ui-widget ui-widget-content daredevel-tree">
                                     <ul>
                                        <li class="leaf"><span class="daredevel-tree-anchor ui-icon ui-icon-bullet"></span>
                                          <label>	<input type="checkbox" data-id="4" class="parent" id="parent-input-4" data-value="8">
                                             <i></i>Quantitative Comparision</label>
                                          <span class="d-b-in  badge bg-danger l-s-p-c daredevel-tree-label ui-draggable ui-draggable-handle" style="position: relative;">0%</span><span class="droppable-label ui-droppable"><br></span><span class="prepended ui-droppable"><br></span>
                                        
                                        
                                      </li>
                                </ul>
                            </div>
                          </div>
                        </div>
                          
                        <div class="mainParent" id="parent-4">
                                <div class="checkbox i-checks" id="example-0">
                                 <div class="tree_v ui-widget ui-widget-content daredevel-tree">
                                     <ul>
                                        <li class="leaf"><span class="daredevel-tree-anchor ui-icon ui-icon-bullet"></span>
                                            <label>	<input type="checkbox" data-id="4" class="parent" id="parent-input-4" data-value="8">
                                               <i></i>Data Interpretation</label>
                                            <span class="d-b-in  badge bg-danger l-s-p-c daredevel-tree-label ui-draggable ui-draggable-handle" style="position: relative;">0%</span><span class="droppable-label ui-droppable"><br></span><span class="prepended ui-droppable"><br></span>
                                        
                                        
                                    </li>
                                </ul>
                            </div>
                          </div>
                        </div>
                        <div class="mainParent" id="parent-6">
                              <div class="checkbox i-checks" id="example-0">
                                  <div class="tree_v ui-widget ui-widget-content daredevel-tree">
                                     <ul class="main" >
                                           
                                        <li class="expanded">
                                               <span class="daredevel-tree-anchor ui-icon ui-icon-plus" (click)="show=!show">{{show ? 'hide' : 'show'}}></span>
                                               <span id="mySpan" style="display:none"class="daredevel-tree-anchor ui-icon ui-icon-plus"></span>
                                           <label><input type="checkbox" id="checkAll" data-id="6" class="parent" id="parent-input-6" data-value="13, 14, 15, 16">
                                              <i></i>Problem Solving</label>
                                                <ul style="line-height: 40px;" *ngIf="show"> 
                                                   <div class="checkbox i-checks ui-widget ui-widget-content daredevel-tree">
                                                      <li class="ul-tree leaf"><span class="daredevel-tree-anchor ui-icon-bullet ui-icon" style="position: relative;top: 10px;"></span><label>
                                                          <input type="checkbox" class="child-input-6" id="checkItem" data-value="13"><i></i>Single Answer</label>
                                                      </li>
                                                    </div>
                                                <ul>
                                                  <div class="checkbox i-checks ui-widget ui-widget-content daredevel-tree">
                                                     <li class="ul-tree leaf"><span class="daredevel-tree-anchor ui-icon-bullet ui-icon" style="position: relative;top: 10px;"></span><label>
                                                         <input type="checkbox" class="child-input-6" id="checkItem"data-value="14"><i></i>Multiple Answer</label>
                                                        </li>
                                                   </div>
                                               </ul>
                                               <ul>
                                                      <div class="checkbox i-checks ui-widget ui-widget-content daredevel-tree">
                                                         <li class="ul-tree leaf"><span class="daredevel-tree-anchor ui-icon-bullet ui-icon" style="position: relative;top: 10px;"></span><label>
                                                             <input type="checkbox" class="child-input-6" id="checkItem" data-value="15,16"><i></i>Numeric Entry</label>
                                                            </li>
                                                       </div>
                                                   </ul>
                                             </ul>
                                             </li>
                                       </ul>
                                 </div>
                              </div>
                            </div>
                       
       
                      </div>
                      <div class="col-md-6">
                          <h3>Select Lessons</h3>
                          <div class="mainParent" id="parent-4">
                                <div class="checkbox i-checks" id="example-0">
                                 <div class="tree_v ui-widget ui-widget-content daredevel-tree">
                                     <ul>
                                        <li class="leaf">
                                            <label><input type="checkbox" data-id="4" class="parent" id="parent-input-4" data-value="8">
                                               <i></i>Number Systems </label>
                                            <span class="d-b-in  badge bg-danger l-s-p-c daredevel-tree-label ui-draggable ui-draggable-handle" style="position: relative;">0%</span><span class="droppable-label ui-droppable"><br></span><span class="prepended ui-droppable"><br></span>
                                        
                                        
                                    </li>
                                </ul>
                            </div>
                          </div>
                        </div>
                        <div class="mainParent" id="parent-4">
                                <div class="checkbox i-checks" id="example-0">
                                 <div class="tree_v ui-widget ui-widget-content daredevel-tree">
                                     <ul>
                                        <li class="leaf">
                                            <label>	<input type="checkbox" data-id="4" class="parent" id="parent-input-4" data-value="8">
                                               <i></i>Integer Properties</label>
                                            <span class="d-b-in  badge bg-danger l-s-p-c daredevel-tree-label ui-draggable ui-draggable-handle" style="position: relative;">0%</span><span class="droppable-label ui-droppable"><br></span><span class="prepended ui-droppable"><br></span>
                                    </li>
                                </ul>
                            </div>
                          </div>
                        </div>
                        <div class="mainParent" id="parent-4">
                                <div class="checkbox i-checks" id="example-0">
                                 <div class="tree_v ui-widget ui-widget-content daredevel-tree">
                                     <ul>
                                        <li class="leaf">
                                            <label>	<input type="checkbox" data-id="4" class="parent" id="parent-input-4" data-value="8">
                                               <i></i>Percentages</label>
                                            <span class="d-b-in  badge bg-danger l-s-p-c daredevel-tree-label ui-draggable ui-draggable-handle" style="position: relative;">0%</span><span class="droppable-label ui-droppable"><br></span><span class="prepended ui-droppable"><br></span>
                                        
                                        
                                    </li>
                                </ul>
                            </div>
                          </div>
                        </div>
                        <div class="mainParent" id="parent-4">
                                <div class="checkbox i-checks" id="example-0">
                                 <div class="tree_v ui-widget ui-widget-content daredevel-tree">
                                     <ul>
                                        <li class="leaf">
                                            <label>	<input type="checkbox" data-id="4" class="parent" id="parent-input-4" data-value="8">
                                               <i></i>Ratios and fractions </label>
                                            <span class="d-b-in  badge bg-danger l-s-p-c daredevel-tree-label ui-draggable ui-draggable-handle" style="position: relative;">0%</span><span class="droppable-label ui-droppable"><br></span><span class="prepended ui-droppable"><br></span>
                                        
                                        
                                    </li>
                                </ul>
                            </div>
                          </div>
                        </div>
                        <div class="mainParent" id="parent-4">
                                <div class="checkbox i-checks" id="example-0">
                                 <div class="tree_v ui-widget ui-widget-content daredevel-tree">
                                     <ul>
                                        <li class="leaf">
                                            <label>	<input type="checkbox" data-id="4" class="parent" id="parent-input-4" data-value="8">
                                               <i></i>Algebra</label>
                                            <span class="d-b-in  badge bg-success l-s-p-c daredevel-tree-label ui-draggable ui-draggable-handle" style="position: relative;">100%</span><span class="droppable-label ui-droppable"><br></span><span class="prepended ui-droppable"><br></span>
                                        
                                        
                                    </li>
                                </ul>
                            </div>
                          </div>
                        </div>
                        <div class="mainParent" id="parent-4">
                                <div class="checkbox i-checks" id="example-0">
                                 <div class="tree_v ui-widget ui-widget-content daredevel-tree">
                                     <ul>
                                        <li class="leaf">
                                            <label>	<input type="checkbox" data-id="4" class="parent" id="parent-input-4" data-value="8">
                                               <i></i>Word problems</label>
                                            <span class="d-b-in  badge bg-danger l-s-p-c daredevel-tree-label ui-draggable ui-draggable-handle" style="position: relative;">0%</span><span class="droppable-label ui-droppable"><br></span><span class="prepended ui-droppable"><br></span>
                                        
                                        
                                    </li>
                                </ul>
                            </div>
                          </div>
                        </div>
                        <div class="mainParent" id="parent-4">
                                <div class="checkbox i-checks" id="example-0">
                                 <div class="tree_v ui-widget ui-widget-content daredevel-tree">
                                     <ul>
                                        <li class="leaf">
                                            <label>	<input type="checkbox" data-id="4" class="parent" id="parent-input-4" data-value="8">
                                               <i></i>Quantitative Comparision</label>
                                            <span class="d-b-in  badge bg-danger l-s-p-c daredevel-tree-label ui-draggable ui-draggable-handle" style="position: relative;">0%</span><span class="droppable-label ui-droppable"><br></span><span class="prepended ui-droppable"><br></span>
                                        
                                        
                                    </li>
                                </ul>
                            </div>
                          </div>
                        </div>
                        <div class="mainParent" id="parent-4">
                                <div class="checkbox i-checks" id="example-0">
                                 <div class="tree_v ui-widget ui-widget-content daredevel-tree">
                                     <ul>
                                        <li class="leaf">
                                            <label>	<input type="checkbox" data-id="4" class="parent" id="parent-input-4" data-value="8">
                                               <i></i>Angles and triangles</label>
                                            <span class="d-b-in  badge bg-danger l-s-p-c daredevel-tree-label ui-draggable ui-draggable-handle" style="position: relative;">0%</span><span class="droppable-label ui-droppable"><br></span><span class="prepended ui-droppable"><br></span>
                                        
                                        
                                    </li>
                                </ul>
                            </div>
                          </div>
                        </div>
                        <div class="mainParent" id="parent-4">
                                <div class="checkbox i-checks" id="example-0">
                                 <div class="tree_v ui-widget ui-widget-content daredevel-tree">
                                     <ul>
                                        <li class="leaf">
                                            <label>	<input type="checkbox" data-id="4" class="parent" id="parent-input-4" data-value="8">
                                               <i></i>Quadrilaterals and circles</label>
                                            <span class="d-b-in  badge bg-danger l-s-p-c daredevel-tree-label ui-draggable ui-draggable-handle" style="position: relative;">0%</span><span class="droppable-label ui-droppable"><br></span><span class="prepended ui-droppable"><br></span>
                                        
                                        
                                    </li>
                                </ul>
                            </div>
                          </div>
                        </div>
                        <div class="mainParent" id="parent-4">
                                <div class="checkbox i-checks" id="example-0">
                                 <div class="tree_v ui-widget ui-widget-content daredevel-tree">
                                     <ul>
                                        <li class="leaf">
                                            <label>	<input type="checkbox" data-id="4" class="parent" id="parent-input-4" data-value="8">
                                               <i></i>3D Geometry</label>
                                            <span class="d-b-in  badge bg-danger l-s-p-c daredevel-tree-label ui-draggable ui-draggable-handle" style="position: relative;">0%</span><span class="droppable-label ui-droppable"><br></span><span class="prepended ui-droppable"><br></span>
                                        
                                        
                                    </li>
                                </ul>
                            </div>
                          </div>
                        </div>
                        <div class="mainParent" id="parent-4">
                                <div class="checkbox i-checks" id="example-0">
                                 <div class="tree_v ui-widget ui-widget-content daredevel-tree">
                                     <ul>
                                        <li class="leaf">
                                            <label>	<input type="checkbox" data-id="4" class="parent" id="parent-input-4" data-value="8">
                                               <i></i>Coordinate geometry </label>
                                            <span class="d-b-in  badge bg-danger l-s-p-c daredevel-tree-label ui-draggable ui-draggable-handle" style="position: relative;">0%</span><span class="droppable-label ui-droppable"><br></span><span class="prepended ui-droppable"><br></span>
                                        
                                        
                                    </li>
                                </ul>
                            </div>
                          </div>
                        </div>
                        <div class="mainParent" id="parent-4">
                                <div class="checkbox i-checks" id="example-0">
                                 <div class="tree_v ui-widget ui-widget-content daredevel-tree">
                                     <ul>
                                        <li class="leaf">
                                            <label>	<input type="checkbox" data-id="4" class="parent" id="parent-input-4" data-value="8">
                                               <i></i>Statistics </label>
                                            <span class="d-b-in  badge bg-danger l-s-p-c daredevel-tree-label ui-draggable ui-draggable-handle" style="position: relative;">0%</span><span class="droppable-label ui-droppable"><br></span><span class="prepended ui-droppable"><br></span>
                                        
                                        
                                    </li>
                                </ul>
                            </div>
                          </div>
                        </div>
                        <div class="mainParent" id="parent-4">
                                <div class="checkbox i-checks" id="example-0">
                                 <div class="tree_v ui-widget ui-widget-content daredevel-tree">
                                     <ul>
                                        <li class="leaf">
                                            <label>	<input type="checkbox" data-id="4" class="parent" id="parent-input-4" data-value="8">
                                               <i></i>Data Interpretation </label>
                                            <span class="d-b-in  badge bg-danger l-s-p-c daredevel-tree-label ui-draggable ui-draggable-handle" style="position: relative;">0%</span><span class="droppable-label ui-droppable"><br></span><span class="prepended ui-droppable"><br></span>
                                        
                                        
                                    </li>
                                </ul>
                            </div>
                          </div>
                        </div>
                        <div class="mainParent" id="parent-4">
                                <div class="checkbox i-checks" id="example-0">
                                 <div class="tree_v ui-widget ui-widget-content daredevel-tree">
                                     <ul>
                                        <li class="leaf">
                                            <label>	<input type="checkbox" data-id="4" class="parent" id="parent-input-4" data-value="8">
                                               <i></i>Permutations and combinations</label>
                                            <span class="d-b-in  badge bg-danger l-s-p-c daredevel-tree-label ui-draggable ui-draggable-handle" style="position: relative;">0%</span><span class="droppable-label ui-droppable"><br></span><span class="prepended ui-droppable"><br></span>
                                        
                                        
                                    </li>
                                </ul>
                            </div>
                          </div>
                        </div>
                        <div class="mainParent" id="parent-4">
                                <div class="checkbox i-checks" id="example-0">
                                 <div class="tree_v ui-widget ui-widget-content daredevel-tree">
                                     <ul>
                                        <li class="leaf">
                                            <label>	<input type="checkbox" data-id="4" class="parent" id="parent-input-4" data-value="8">
                                               <i></i>Probability</label>
                                            <span class="d-b-in  badge bg-danger l-s-p-c daredevel-tree-label ui-draggable ui-draggable-handle" style="position: relative;">0%</span><span class="droppable-label ui-droppable"><br></span><span class="prepended ui-droppable"><br></span>
                                        
                                        
                                    </li>
                                </ul>
                            </div>
                          </div>
                        </div>
                      </div>

                  </div>
              </div>
              <div id="menu1" class="tab-pane fade desc">
                  <div class="row">
                      <div class="col-md-6">
                         <h3>Select Question Type</h3>
                         <div class="mainParent" id="parent-6">
                              <div class="checkbox i-checks" id="example-0">
                                  <div class="tree_v ui-widget ui-widget-content daredevel-tree">
                                     <ul class="main">
                                           
                                        <li class="expanded">
                                               <span class="daredevel-tree-anchor ui-icon ui-icon-minus"></span>
                                               <span id="mySpan" style="display:none"class="daredevel-tree-anchor ui-icon ui-icon-plus"></span>
                                           <label>	<input type="checkbox" data-id="6" class="parent" id="parent-input-6" data-value="13, 14, 15, 16">
                                              <i></i>Text Completion</label>
                                                <ul style="line-height: 40px;"> 
                                                   <div class="checkbox i-checks ui-widget ui-widget-content daredevel-tree">
                                                      <li class="ul-tree leaf"><span class="daredevel-tree-anchor ui-icon-bullet ui-icon" style="position: relative;top: 10px;"></span><label>
                                                          <input type="checkbox" class="child-input-6" data-value="13"><i></i>Single Blank</label>
                                                      </li>
                                                    </div>
                                                <ul>
                                                  <div class="checkbox i-checks ui-widget ui-widget-content daredevel-tree">
                                                     <li class="ul-tree leaf"><span class="daredevel-tree-anchor ui-icon-bullet ui-icon" style="position: relative;top: 10px;"></span><label>
                                                         <input type="checkbox" class="child-input-6" data-value="14"><i></i>Double Blank</label>
                                                        </li>
                                                   </div>
                                               </ul>
                                               <ul>
                                                      <div class="checkbox i-checks ui-widget ui-widget-content daredevel-tree">
                                                         <li class="ul-tree leaf"><span class="daredevel-tree-anchor ui-icon-bullet ui-icon" style="position: relative;top: 10px;"></span><label>
                                                             <input type="checkbox" class="child-input-6" data-value="15,16"><i></i>Triple Blank</label>
                                                            </li>
                                                       </div>
                                                   </ul>
                                             </ul>
                                       </ul>
                                 </div>
                              </div>
                            </div>
                       
                       
                          <div class="mainParent" id="parent-4">
                              <div class="checkbox i-checks" id="example-0">
                                  <div class="tree_v ui-widget ui-widget-content daredevel-tree">
                                       <ul>
                                          <li class="leaf"><span class="daredevel-tree-anchor ui-icon ui-icon-bullet"></span>
                                              <label>	<input type="checkbox" data-id="4" class="parent" id="parent-input-4" data-value="8">
                                              <i></i>Sentence Equivalence</label>
                                              <span class="d-b-in  badge bg-danger l-s-p-c daredevel-tree-label ui-draggable ui-draggable-handle" style="position: relative;">0%</span><span class="droppable-label ui-droppable"><br></span><span class="prepended ui-droppable"><br></span>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
        
                       
                        <div class="mainParent" id="parent-6">
                              <div class="checkbox i-checks" id="example-0">
                                  <div class="tree_v ui-widget ui-widget-content daredevel-tree">
                                     <ul class="main">
                                           
                                        <li class="expanded">
                                               <span class="daredevel-tree-anchor ui-icon ui-icon-minus"></span>
                                               <span id="mySpan" style="display:none"class="daredevel-tree-anchor ui-icon ui-icon-plus"></span>
                                           <label>	<input type="checkbox" data-id="6" class="parent" id="parent-input-6" data-value="13, 14, 15, 16">
                                              <i></i>Reading Comprehension</label>
                                                <ul style="line-height: 40px;"> 
                                                   <div class="checkbox i-checks ui-widget ui-widget-content daredevel-tree">
                                                      <li class="ul-tree leaf"><span class="daredevel-tree-anchor ui-icon-bullet ui-icon" style="position: relative;top: 10px;"></span><label>
                                                          <input type="checkbox" class="child-input-6" data-value="13"><i></i>Short</label>
                                                      </li>
                                                    </div>
                                                <ul>
                                                  <div class="checkbox i-checks ui-widget ui-widget-content daredevel-tree">
                                                     <li class="ul-tree leaf"><span class="daredevel-tree-anchor ui-icon-bullet ui-icon" style="position: relative;top: 10px;"></span><label>
                                                         <input type="checkbox" class="child-input-6" data-value="14"><i></i>Long</label>
                                                        </li>
                                                   </div>
                                               </ul>
                                              
                                             </ul>
                                       </ul>
                                 </div>
                              </div>
                            </div>
                        <div class="mainParent" id="parent-4">
                                <div class="checkbox i-checks" id="example-0">
                                 <div class="tree_v ui-widget ui-widget-content daredevel-tree">
                                     <ul>
                                        <li class="leaf">
                                            <label>	<input type="checkbox" data-id="4" class="parent" id="parent-input-4" data-value="8">
                                               <i></i>Critical Reasoning</label>
                                            <span class="d-b-in  badge bg-danger l-s-p-c daredevel-tree-label ui-draggable ui-draggable-handle" style="position: relative;">0%</span><span class="droppable-label ui-droppable"><br></span><span class="prepended ui-droppable"><br></span>
                                        
                                        
                                    </li>
                                </ul>
                            </div>
                          </div>
                        </div>

                      </div>


                  </div>
              </div>

          </div>
      </div>
      <div class="col-md-4">
          <div class="mainParent" id="parent-4">
                <div class="checkbox i-checks" id="example-0">
                 <div class="tree_v ui-widget ui-widget-content daredevel-tree">
                     <ul>
                        <li class="leaf"><span class="daredevel-tree-anchor ui-icon-minus daredevel-tree-label ui-draggable ui-draggable-handle ui-icon"></span>
                            <label>	<input type="checkbox" data-id="4" class="parent" id="parent-input-4" data-value="8">
                               <i></i>All Questions</label>
                            <span class="d-b-in  badge bg-danger l-s-p-c daredevel-tree-label ui-draggable ui-draggable-handle" style="position: relative;">0%</span><span class="droppable-label ui-droppable"><br></span><span class="prepended ui-droppable"><br></span>
                        
                        
                    </li>
                </ul>
            </div>
          </div>
        </div>
        <div class="mainParent" id="parent-4">
                <div class="checkbox i-checks" id="example-0">
                 <div class="tree_v ui-widget ui-widget-content daredevel-tree">
                     <ul>
                        <li class="leaf" style="position: relative;
                        left: 20px;"><span class="daredevel-tree-anchor ui-icon-minus daredevel-tree-label ui-draggable ui-draggable-handle ui-icon"></span>
                            <label>	<input type="checkbox" data-id="4" class="parent" id="parent-input-4" data-value="8">
                               <i></i>Answered</label>
                            <span class="d-b-in  badge bg-danger l-s-p-c daredevel-tree-label ui-draggable ui-draggable-handle" style="position: relative;">0%</span><span class="droppable-label ui-droppable"><br></span><span class="prepended ui-droppable"><br></span>
                    </li>
                </ul>
            </div>
          </div>
        </div>
        <div class="mainParent" id="parent-4">
                <div class="checkbox i-checks" id="example-0">
                 <div class="tree_v ui-widget ui-widget-content daredevel-tree">
                     <ul>
                        <li class="leaf" style="position: relative;
                        left: 40px;"><span class="daredevel-tree-anchor ui-icon ui-icon-bullet"></span>
                            <label>	<input type="checkbox" data-id="4" class="parent" id="parent-input-4" data-value="8">
                               <i></i>Correct</label>
                            <span class="d-b-in  badge bg-danger l-s-p-c daredevel-tree-label ui-draggable ui-draggable-handle" style="position: relative;">0%</span><span class="droppable-label ui-droppable"><br></span><span class="prepended ui-droppable"><br></span>
                        
                        
                    </li>
                </ul>
            </div>
          </div>
        </div>
        
        <div class="mainParent" id="parent-4">
                <div class="checkbox i-checks" id="example-0">
                 <div class="tree_v ui-widget ui-widget-content daredevel-tree">
                     <ul>
                        <li class="leaf" style="position: relative;
                        left: 40px;"><span class="daredevel-tree-anchor ui-icon ui-icon-bullet"></span>
                            <label>	<input type="checkbox" data-id="4" class="parent" id="parent-input-4" data-value="8">
                               <i></i>Incorrect</label>
                            <span class="d-b-in  badge bg-danger l-s-p-c daredevel-tree-label ui-draggable ui-draggable-handle" style="position: relative;">0%</span><span class="droppable-label ui-droppable"><br></span><span class="prepended ui-droppable"><br></span>
                        
                        
                    </li>
                </ul>
            </div>
          </div>
        </div>
        <div class="mainParent" id="parent-4">
                <div class="checkbox i-checks" id="example-0">
                 <div class="tree_v ui-widget ui-widget-content daredevel-tree">
                     <ul>
                        <li class="leaf"><span class="daredevel-tree-anchor ui-icon ui-icon-bullet"></span>
                            <label>	<input type="checkbox" data-id="4" class="parent" id="parent-input-4" data-value="8">
                               <i></i>UnAnswered</label>
                            <span class="d-b-in  badge bg-danger l-s-p-c daredevel-tree-label ui-draggable ui-draggable-handle" style="position: relative;">0%</span><span class="droppable-label ui-droppable"><br></span><span class="prepended ui-droppable"><br></span>
                        
                        
                    </li>
                </ul>
            </div>
          </div>
        </div>
        <div class="mainParent" id="parent-4">
                <div class="checkbox i-checks" id="example-0">
                 <div class="tree_v ui-widget ui-widget-content daredevel-tree">
                     <ul>
                        <li class="leaf"><span class="daredevel-tree-anchor ui-icon ui-icon-bullet"></span>
                            <label>	<input type="checkbox" data-id="4" class="parent" id="parent-input-4" data-value="8">
                               <i></i>Flagged</label>
                            <span class="d-b-in  badge bg-danger l-s-p-c daredevel-tree-label ui-draggable ui-draggable-handle" style="position: relative;">0%</span><span class="droppable-label ui-droppable"><br></span><span class="prepended ui-droppable"><br></span>
                        
                        
                    </li>
                </ul>
            </div>
          </div>
        </div>
        <div class="mainParent" id="parent-4">
                <div class="checkbox i-checks" id="example-0">
                 <div class="tree_v ui-widget ui-widget-content daredevel-tree">
                     <ul>
                        <li class="leaf"><span class="daredevel-tree-anchor ui-icon ui-icon-bullet"></span>
                            <label>	<input type="checkbox" data-id="4" class="parent" id="parent-input-4" data-value="8">
                               <i></i>Guessed</label>
                            <span class="d-b-in  badge bg-danger l-s-p-c daredevel-tree-label ui-draggable ui-draggable-handle" style="position: relative;">0%</span><span class="droppable-label ui-droppable"><br></span><span class="prepended ui-droppable"><br></span>
                        
                        
                    </li>
                </ul>
            </div>
          </div>
        </div>
      </div>
  </div>

      
  <div class="row" style="padding-top: 20px; height: 210px; position: relative;">
      <div class="col-md-5" style="padding-left: 20px;">
          <h3>Select Difficulty</h3>
          <div class="form-check" style="float:left;">
            <label class="checkbox-inline i-checks" style="border-right: 1px dashed #ccc;"><input type="checkbox" class="adaptive" data-value="Adaptive"><i></i>Adaptive</label>
          </div>
          <div class="form-check" style="float:left;">
            <label class="checkbox-inline i-checks" style="border-right: 1px dashed #ccc;"><input type="checkbox" class="adaptive" data-value="Adaptive"><i></i>Easy</label>
          </div>
          <div class="form-check" style="float:left;">
            <label class="checkbox-inline i-checks" style="border-right: 1px dashed #ccc;"><input type="checkbox" class="adaptive" data-value="Adaptive"><i></i>Medium</label>
          </div>
          <div class="form-check" style="float:left;">
            <label class="checkbox-inline i-checks" style="border-right: 1px dashed #ccc;"><input type="checkbox" class="adaptive" data-value="Adaptive"><i></i>Hard</label>
          </div>
      </div>
      <div class="col-md-6">
          <div class="form-group">
              <div class="col-md-4">
                  <label>Time Taken</label>
              </div>
              <div class="col-md-8">
                  <select name="tTkn" class="form-control" id="tTkn">
                      <option value="all">All</option>
                      <option value="<1">&lt;1 Minute</option>
                      <option value="1-2">1-2 Minutes</option>
                      <option value=">3">&gt;3 Minutes</option>
                  </select>
              </div>
          </div>
          <!--end of time taken form group-->
          <br>
          <br>

          <div class="form-group">
              <div class="col-md-4">
                  <label>No Of Questions</label>
              </div>
              <div class="col-md-8">
                  <select name="tQ" class="form-control" id="tQ">
                      <option value="0">No Limit</option>
                      <option value="5">5 Questions</option>
                      <option value="10">10 Questions</option>
                      <option value="15">15 Questions</option>
                      <option value="20">20 Questions</option>
                      <option value="25">25 Questions</option>
                      <option value="30">30 Questions</option>
                  </select>
              </div>
          </div>
          <!--end of No of questions form group-->
          <br>
          <br>
         
         <div class="form-group">
              <div class="col-md-4">
                  <label>Time Mode</label>
              </div>
              <div class="col-md-8">
                  <select name="tm" class="form-control" id="tm">
                      <option value="00:00:00">No Limit</option>
                      <option value="00:05:00">5 minutes</option>
                      <option value="00:10:00">10 minutes</option>
                      <option value="00:15:00">15 minutes</option>
                      <option value="00:20:00">20 minutes</option>
                      <option value="00:25:00">25 minutes</option>
                      <option value="00:30:00">30 minutes</option>
                      <option value="00:35:00">35 minutes</option>
                      <option value="00:40:00">40 minutes</option>
                      <option value="00:45:00">45 minutes</option>
                      <option value="00:50:00">50 minutes</option>
                      <option value="00:55:00">55 minutes</option>
                      <option value="01:00:00">60 minutes</option>
                  </select>
              </div>
          </div>
          <!--end of time taken form group-->

      </div>
  </div>
</section>
<div class="some-footer">


     
      <style>
         .some-footer {
              position: fixed;
              bottom: 0;
              padding: 15px 90px;
              width: 100%;
              background: #fff;
              /* z-index: 9999;*/
          }
      </style>

      <div class="row">

          <form method="post" class="bs-example form-horizontal" id="_practiceForm">
              <!-- Update the count -->
              <div id="count" class="col-md-4" style="padding-top: 10px">
                  Your practice test will contain
                  <span style="font-size: 11px;" class="label label-warning">750</span> questions.
                  <div id="msgs">

                  </div>
              </div>
              <div class="col-md-4">
                  <input type="text" name="name" class="form-control input-lg" required="required" placeholder="Enter Test Name" style="height: 35px;"
                      value="" id="name">
              </div>
              <div class="col-md-4">
                      <button class="btn btn-warning btn-md" style="float:left;font-size: 12px;" routerLink="/practice/quant">Start Practice</button>                        
              </div>

          </form>
      </div>



  </div>


                      </div>
                  </div>

             </div>
          </section>
       </div>
          <!-- /.content -->
  
  </div>
  <!-- ./wrapper -->

</body>