<body class="hold-transition skin-blue sidebar-collapse sidebar-mini">
  <div class="wrapper">
    <app-header></app-header>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper"> 
      <section class="content" style="position: relative;top: 50px;">
         <div class="container-fluid" id="page-body">

            <!--- Maths and verbal boxes block -->
            <div class="row">
               <!-- Maths box in dashboard-->
               <div class="col-sm-6">
                  <div class="box">
                     <div class="box-header">
                        <h3 class="box-title">Math</h3>
                     </div>
                     <div class="box-body">
                        <div class="col-sm-12">
                           <div class="info-box bg-aqua">
                              <span class="info-box-icon"><i class="fa fa-calculator"></i></span>
                              <div class="info-box-content">
                                 <span class="info-box-text">Questions Unlocked</span>
                                 <span class="info-box-number">0.0%</span>
                                 <div class="progress">
                                    <div class="progress-bar" style="width: 1.1764705900%"></div>
                                 </div>
                                 <span class="progress-description">
                                 </span>
                              </div>
                              <!-- /.info-box-content -->
                           </div>
                           <!-- /.info-box -->
                        </div>
                     </div>
                     <div class="box-footer">
                        <div class="col-sm-4">
                           <p>Questions Correct</p>
                           <h2 class="text-aqua">
                              0%
                           </h2>
                        </div>
                        <div class="col-sm-4">
                           <p> Questions practiced</p>
                           <h2 class="text-aqua">
                              00
                           </h2>
                        </div>
                        <div class="col-sm-4">
                           <p> Avg Time Per Question</p>
                           <h2 class="text-aqua">
                              00:00:00
                           </h2>
                        </div>
                     </div>
                  </div>
                  <!-- /.box (chat box) -->
               </div>
               <!--End of math column-->
               <!-- Verbal box in dashboard-->
               <div class="col-sm-6">
                  <div class="box">
                     <div class="box-header">
                        <h3 class="box-title">Verbal</h3>
                     </div>
                     <div class="box-body">
                        <div class="col-md-12">
                           <div class="info-box bg-yellow">
                              <span class="info-box-icon"><i class="fa fa-edit"></i></span>
                              <div class="info-box-content">
                                 <span class="info-box-text">Questions Unlocked</span>
                                 <span class="info-box-number">0.0%</span>
                                 <div class="progress">
                                    <div class="progress-bar" style="width: 0%"></div>
                                 </div>
                                 <span class="progress-description">
                                 </span>
                              </div>
                              <!-- /.info-box-content -->
                           </div>
                           <!-- /.info-box -->
                        </div>
                     </div>
                     <div class="box-footer">
                        <div class="col-sm-4">
                           <p>Questions Correct</p>
                           <h2 class="text-yellow">
                              0%
                           </h2>
                        </div>
                        <div class="col-sm-4">
                           <p> Questions practiced</p>
                           <h2 class="text-yellow">
                              0
                           </h2>
                        </div>
                        <div class="col-sm-4">
                           <p> Avg Time Per Question</p>
                           <h2 class="text-yellow">
                              00:00:00
                           </h2>
                        </div>
                     </div>
                  </div>
                  <!-- /.box (chat box) -->
               </div>
               <!--End of math column-->
            </div>
            <!---row end for math and verbal box-->
            <!---Strenghts and weakness block-->
            <div class="row">
               <!-- Maths box in dashboard-->
               <div class="col-sm-6">
                  <div class="box">
                     <div class="box-header">
                        <h3 class="box-title">Your Good At</h3>
                     </div>
                     <hr>
                     <div class="box-body no-padding">
                        <div class="col-md-12">
                           <div class="progress-group">
                              <span class="progress-text">Arithmetic</span>
                              <span class="progress-number"><b>38%</b></span>
                              <!-- <div class="progress sm">
                                <div class="progress-bar progress-bar bg-red" style="width: 38%"></div>
                              </div> -->
                              <div class="progress sm">
                                <div class="progress-bar progress-bar-danger" role="progressbar" role="progressbar"  aria-valuenow="38"
                                aria-valuemin="0" aria-valuemax="100" style="width:38%">
                                  38% Complete
                                </div>
                              </div>
                           </div>
                           <div class="progress-group">
                              <span class="progress-text">geometry</span>
                              <span class="progress-number"><b>25%</b></span>
                              <div class="progress sm">
                                <div class="progress-bar progress-bar-danger" role="progressbar"  aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100" style="width:25%">
                                  25% Complete
                                </div>
                              </div>
                           </div>
                           <div class="progress-group">
                              <span class="progress-text">algebra</span>
                              <span class="progress-number"><b>0%</b></span>
                              <div class="progress sm">
                                <div class="progress-bar progress-bar-danger" role="progressbar"  aria-valuenow="0"
                                aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                  0% Complete
                                </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               
               <!-- /.box (chat box) -->
               <!--End of math column-->
               <!-- Verbal box in dashboard-->
               <div class="col-sm-6">
                  <div class="box">
                     <div class="box-header">
                        <h3 class="box-title">Need To Concentrate On</h3>
                     </div>
                     <hr>
                     <div class="box-body no-padding">
                        <div class="col-md-12">
                          
                           <div class="progress-group">
                              <span class="progress-text">data analysis</span>
                              <span class="progress-number"><b>25%</b></span>
                              <div class="progress sm">
                                <div class="progress-bar progress-bar-danger" role="progressbar"  aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100" style="width:25%">
                                  25% Complete
                                </div>
                              </div>
                           </div>
                           <div class="progress-group">
                              <span class="progress-text">algebra</span>
                              <span class="progress-number"><b>0%</b></span>
                              <div class="progress sm">
                                <div class="progress-bar progress-bar-danger" role="progressbar"  aria-valuenow="0"
                                aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                  0% Complete
                                </div>
                              </div>
                           </div>
                           <div class="progress-group">
                            <span class="progress-text">Arithmetic</span>
                            <span class="progress-number"><b>0%</b></span>
                            <div class="progress sm">
                              <div class="progress-bar progress-bar-danger" role="progressbar"  aria-valuenow="0"
                              aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                0% Complete
                              </div>
                            </div>
                         </div>
                        </div>
                     </div>
                  </div>
                  <!-- /.box (chat box) -->
               </div>
               <!--End of math column-->
            </div>
            <!--lessons recomended block-->
            <div class="row">
               <!-- Maths box in dashboard-->
               <div class="col-sm-6">
                  <div class="box">
                     <div class="box-header">
                        <h3 class="box-title">Recommended Lessons Based On Your Skills</h3>
                     </div>
                     <div class="box-body">
                        <li class="list-group-item">
                           <span class="pull-right">
                           <a routerLink="/lessons/word-problems" id="16" params="" class="subless">
                           Read now!
                           </a>
                           </span>Read <a class="btn link-lesson" routerLink="/lessons/word-problems" style="font-size: 16px; padding: 0 0 4px;">ages</a> in  Word problems
                        </li>
                        <li class="list-group-item">
                           <span class="pull-right">
                           <a routerLink="/lessons/lessonDetails" id="14" params="" class="subless">
                           Read now!
                           </a>
                           </span>Read <a class="btn link-lesson" routerLink="/lessons/lessonDetails" style="font-size: 16px; padding: 0 0 4px;">fractions</a> in  Number Systems
                        </li>
                        <li class="list-group-item">
                           <span class="pull-right">
                           <a routerLink="/" id="55" params="" class="subless">
                           Read now!
                           </a>
                           </span>Read <a class="btn link-lesson" routerLink="/" style="font-size: 17px; padding: 0 0 4px;">circles</a> in  Quadrilaterals and circles
                        </li>
                        <li class="list-group-item">
                           <span class="pull-right">
                           <a routerLink="/lessons/lessonDetails" id="13" params="" class="subless">
                           Read now!
                           </a>
                           </span>Read <a class="btn link-lesson" routerLink="/lessons/lessonDetails" style="font-size: 16px; padding: 0 0 4px;">integers</a> in  Number Systems
                        </li>
                        <li class="list-group-item">
                           <span class="pull-right">
                           <a routerLink="/lessons/lessonDetails" id="12" params="" class="subless">
                           Read now!
                           </a>
                           </span>Read <a class="btn link-lesson" routerLink="/lessons/lessonDetails" style="font-size: 16px; padding: 0 0 4px;">number line</a> in  Number Systems
                        </li>
                        <li class="list-group-item">
                           <span class="pull-right">
                           <a routerLink="/lessons/lessonDetails" id="30" params="" class="subless">
                           Read now!
                           </a>
                           </span>Read <a class="btn link-lesson" routerLink="/lessons/lessonDetails" style="font-size: 16px; padding: 0 0 4px;">Decimals</a> in  Number Systems
                        </li>
                     </div>
                  </div>
                  <!-- /.box (chat box) -->
               </div>
               <!--End of math column-->
               <!-- Verbal box in dashboard-->
               <div class="col-sm-6">
                  <!-- LINE CHART -->
                  <div class="box">
                     <div class="box-header with-border">
                        <h3 class="box-title">Full lengthTest Performance</h3>
                     </div>
                     <div class="box-body">
                        <div id="container" style="min-width: 310px; height: 240px; margin: 0 auto;width:100%;margin-bottom: 15px;" data-highcharts-chart="0">
                           <div class="highcharts-container" id="highcharts-0" style="position: relative; overflow: hidden; width: 557px; height: 240px; text-align: left; line-height: normal; z-index: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="557" height="240">
                                 <desc>Created with Highcharts 4.0.1</desc>
                                 <defs>
                                    <clipPath id="highcharts-1">
                                       <rect x="0" y="0" width="384" height="125"></rect>
                                    </clipPath>
                                 </defs>
                                 <rect x="0" y="0" width="557" height="240" strokeWidth="0" fill="#FFFFFF" class=" highcharts-background"></rect>
                                 <g class="highcharts-grid" zIndex="1"></g>
                                 <g class="highcharts-grid" zIndex="1">
                                    <path fill="none" d="M 74 74.5 L 458 74.5" stroke="#C0C0C0" stroke-width="1" zIndex="1" opacity="1"></path>
                                    <path fill="none" d="M 74 117.5 L 458 117.5" stroke="#C0C0C0" stroke-width="1" zIndex="1" opacity="1"></path>
                                    <path fill="none" d="M 74 158.5 L 458 158.5" stroke="#C0C0C0" stroke-width="1" zIndex="1" opacity="1"></path>
                                    <path fill="none" d="M 74 200.5 L 458 200.5" stroke="#C0C0C0" stroke-width="1" zIndex="1" opacity="1"></path>
                                 </g>
                                 <g class="highcharts-axis" zIndex="2">
                                    <path fill="none" d="M 202.5 200 L 202.5 210" stroke="#C0D0E0" stroke-width="1" opacity="1"></path>
                                    <path fill="none" d="M 328.5 200 L 328.5 210" stroke="#C0D0E0" stroke-width="1" opacity="1"></path>
                                    <path fill="none" d="M 453.5 200 L 453.5 210" stroke="#C0D0E0" stroke-width="1" opacity="1"></path>
                                    <path fill="none" d="M 77.5 200 L 77.5 210" stroke="#C0D0E0" stroke-width="1" opacity="1"></path>
                                    <path fill="none" d="M 74 200.5 L 458 200.5" stroke="#C0D0E0" stroke-width="1" zIndex="7" visibility="visible"></path>
                                 </g>
                                 <g class="highcharts-axis" zIndex="2">
                                    <text x="28.09375" zIndex="7" text-anchor="middle" transform="translate(0,0) rotate(270 28.09375 137.5)" class=" highcharts-yaxis-title" style="color:#707070;fill:#707070;" visibility="visible" y="137.5">Score</text>
                                 </g>
                                 <g class="highcharts-series-group" zIndex="3">
                                    <g class="highcharts-series" visibility="visible" zIndex="0.1" transform="translate(74,75) scale(1 1)" clip-path="url(#highcharts-1)">
                                       <path fill="none" d="M 3.7647058823529416 110 L 129.25490196078434 111.25 L 254.74509803921572 112.5 L 380.23529411764713 110.83333333333333" stroke="rgb(247, 163, 92)" stroke-width="2" zIndex="1" stroke-linejoin="round" stroke-linecap="round"></path>
                                       <path fill="none" d="M -6.235294117647058 110 L 3.7647058823529416 110 L 129.25490196078434 111.25 L 254.74509803921572 112.5 L 380.23529411764713 110.83333333333333 L 390.23529411764713 110.83333333333333" stroke-linejoin="round" visibility="visible" stroke="rgba(192,192,192,0.0001)" stroke-width="22" zIndex="2" class=" highcharts-tracker"></path>
                                    </g>
                                    <g class="highcharts-markers highcharts-tracker" visibility="visible" zIndex="0.1" transform="translate(74,75) scale(1 1)" clip-path="none">
                                       <path fill="rgb(247, 163, 92)" d="M 380 106.83333333333333 C 385.328 106.83333333333333 385.328 114.83333333333333 380 114.83333333333333 C 374.672 114.83333333333333 374.672 106.83333333333333 380 106.83333333333333 Z" stroke="#FFFFFF" stroke-width="0.00001"></path>
                                       <path fill="rgb(247, 163, 92)" d="M 254 108.5 C 259.328 108.5 259.328 116.5 254 116.5 C 248.672 116.5 248.672 108.5 254 108.5 Z" stroke="#FFFFFF" stroke-width="0.00001"></path>
                                       <path fill="rgb(247, 163, 92)" d="M 129 107.25 C 134.328 107.25 134.328 115.25 129 115.25 C 123.672 115.25 123.672 107.25 129 107.25 Z" stroke="#FFFFFF" stroke-width="0.00001"></path>
                                       <path fill="rgb(247, 163, 92)" d="M 3 106 C 8.328 106 8.328 114 3 114 C -2.3280000000000003 114 -2.3280000000000003 106 3 106 Z" stroke="#FFFFFF" stroke-width="0.00001"></path>
                                    </g>
                                    <g class="highcharts-series" visibility="visible" zIndex="0.1" transform="translate(74,75) scale(1 1)" clip-path="url(#highcharts-1)">
                                       <path fill="none" d="M 3.7647058823529416 112.08333333333333 L 129.25490196078434 112.5 L 254.74509803921572 112.08333333333333 L 380.23529411764713 107.91666666666666" stroke="rgb(124, 181, 236)" stroke-width="2" zIndex="1" stroke-linejoin="round" stroke-linecap="round"></path>
                                       <path fill="none" d="M -6.235294117647058 112.08333333333333 L 3.7647058823529416 112.08333333333333 L 129.25490196078434 112.5 L 254.74509803921572 112.08333333333333 L 380.23529411764713 107.91666666666666 L 390.23529411764713 107.91666666666666" stroke-linejoin="round" visibility="visible" stroke="rgba(192,192,192,0.0001)" stroke-width="22" zIndex="2" class=" highcharts-tracker"></path>
                                    </g>
                                    <g class="highcharts-markers highcharts-tracker" visibility="visible" zIndex="0.1" transform="translate(74,75) scale(1 1)" clip-path="none">
                                       <path fill="rgb(124, 181, 236)" d="M 380 103.91666666666666 L 384 107.91666666666666 380 111.91666666666666 376 107.91666666666666 Z" stroke="#FFFFFF" stroke-width="0.00001"></path>
                                       <path fill="rgb(124, 181, 236)" d="M 254 108.08333333333333 L 258 112.08333333333333 254 116.08333333333333 250 112.08333333333333 Z" stroke="#FFFFFF" stroke-width="0.00001"></path>
                                       <path fill="rgb(124, 181, 236)" d="M 129 108.5 L 133 112.5 129 116.5 125 112.5 Z" stroke="#FFFFFF" stroke-width="0.00001"></path>
                                       <path fill="rgb(124, 181, 236)" d="M 3 108.08333333333333 L 7 112.08333333333333 3 116.08333333333333 -1 112.08333333333333 Z" stroke="#FFFFFF" stroke-width="0.00001"></path>
                                    </g>
                                 </g>
                                 <text x="279" text-anchor="middle" class="highcharts-title" zIndex="4" style="color:#333333;font-size:18px;fill:#333333;width:493px;" y="25">
                                    <tspan>Math Min &amp; Max Scores: 130.0 &amp; 136.0 | Verbal Min &amp;</tspan>
                                    <tspan dy="22" x="279">Max Scores: 130.0 &amp; 141.0</tspan>
                                 </text>
                                 <g class="highcharts-legend" zIndex="7" transform="translate(478,98)">
                                    <g zIndex="1">
                                       <g>
                                          <g class="highcharts-legend-item" zIndex="1" transform="translate(8,3)">
                                             <path fill="none" d="M 0 11 L 16 11" stroke-width="2" stroke="rgb(247, 163, 92)"></path>
                                             <path fill="rgb(247, 163, 92)" d="M 8 7 C 13.328 7 13.328 15 8 15 C 2.6719999999999997 15 2.6719999999999997 7 8 7 Z" stroke="#FFFFFF" stroke-width="0.00001"></path>
                                             <text x="21" y="15" style="color:#333333;font-size:12px;font-weight:bold;cursor:pointer;fill:#333333;" text-anchor="start" zIndex="2">Quant</text>
                                          </g>
                                          <g class="highcharts-legend-item" zIndex="1" transform="translate(8,21)">
                                             <path fill="none" d="M 0 11 L 16 11" stroke-width="2" stroke="rgb(124, 181, 236)"></path>
                                             <path fill="rgb(124, 181, 236)" d="M 8 7 L 12 11 8 15 4 11 Z" stroke="#FFFFFF" stroke-width="0.00001"></path>
                                             <text x="21" y="15" style="color:#333333;font-size:12px;font-weight:bold;cursor:pointer;fill:#333333;" text-anchor="start" zIndex="2">Verbal</text>
                                          </g>
                                       </g>
                                    </g>
                                 </g>
                                 <g class="highcharts-axis-labels highcharts-xaxis-labels" zIndex="7">
                                    <text x="77.76470588235294" text-anchor="middle" style="color:#606060;cursor:default;font-size:11px;fill:#606060;" y="220" opacity="1">0</text>
                                    <text x="203.25490196078434" text-anchor="middle" style="color:#606060;cursor:default;font-size:11px;fill:#606060;" y="220" opacity="1">1</text>
                                    <text x="328.7450980392157" text-anchor="middle" style="color:#606060;cursor:default;font-size:11px;fill:#606060;" y="220" opacity="1">2</text>
                                    <text x="454.23529411764713" text-anchor="middle" style="color:#606060;cursor:default;font-size:11px;fill:#606060;" y="220" opacity="1">3</text>
                                 </g>
                                 <g class="highcharts-axis-labels highcharts-yaxis-labels" zIndex="7">
                                    <text x="59" text-anchor="end" style="width:164px;color:#606060;cursor:default;font-size:11px;fill:#606060;" y="203.5" opacity="1">100</text>
                                    <text x="59" text-anchor="end" style="width:164px;color:#606060;cursor:default;font-size:11px;fill:#606060;" y="161.83333333333331" opacity="1">200</text>
                                    <text x="59" text-anchor="end" style="width:164px;color:#606060;cursor:default;font-size:11px;fill:#606060;" y="120.16666666666666" opacity="1">300</text>
                                    <text x="59" text-anchor="end" style="width:164px;color:#606060;cursor:default;font-size:11px;fill:#606060;" y="78.5" opacity="1">400</text>
                                 </g>
                                 <g class="highcharts-tooltip" zIndex="8" style="cursor:default;padding:0;white-space:nowrap;" transform="translate(0,-9999)">
                                    <path fill="none" d="M 3 0 L 13 0 C 16 0 16 0 16 3 L 16 13 C 16 16 16 16 13 16 L 3 16 C 0 16 0 16 0 13 L 0 3 C 0 0 0 0 3 0" stroke-width="5" isShadow="true" stroke="black" stroke-opacity="0.049999999999999996" transform="translate(1, 1)"></path>
                                    <path fill="none" d="M 3 0 L 13 0 C 16 0 16 0 16 3 L 16 13 C 16 16 16 16 13 16 L 3 16 C 0 16 0 16 0 13 L 0 3 C 0 0 0 0 3 0" stroke-width="3" isShadow="true" stroke="black" stroke-opacity="0.09999999999999999" transform="translate(1, 1)"></path>
                                    <path fill="none" d="M 3 0 L 13 0 C 16 0 16 0 16 3 L 16 13 C 16 16 16 16 13 16 L 3 16 C 0 16 0 16 0 13 L 0 3 C 0 0 0 0 3 0" stroke-width="1" isShadow="true" stroke="black" stroke-opacity="0.15" transform="translate(1, 1)"></path>
                                    <path fill="rgba(249, 249, 249, .85)" d="M 3 0 L 13 0 C 16 0 16 0 16 3 L 16 13 C 16 16 16 16 13 16 L 3 16 C 0 16 0 16 0 13 L 0 3 C 0 0 0 0 3 0" stroke-width="1"></path>
                                    <text x="8" zIndex="1" style="font-size:12px;color:#333333;fill:#333333;" y="21"></text>
                                 </g>
                                 <text x="547" text-anchor="end" zIndex="8" style="cursor:pointer;color:#909090;font-size:9px;fill:#909090;" y="235"></text>
                              </svg>
                           </div>
                        </div>
                     </div>
                     <!-- /.box-body -->
                  </div>
                  <!-- /.box -->
               </div>
               <!--End of math column-->
            </div>
         </div>
      </section>
   </div>
    <!-- /.content-wrapper -->
   
  </div>
  <!-- ./wrapper -->

</body>